*{
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        135deg,
        rgb(1, 24, 104) 0%,
        rgb(1, 20, 99) 15%,
        rgb(0, 17, 95) 30%,
        rgb(1, 13, 89) 45%,
        rgb(0, 35, 117) 60%,
        rgb(0, 51, 140) 75%,
        rgb(1, 62, 153) 90%,
        rgb(0, 70, 165) 100%
      );
    margin: 0px;
    padding: 23px;

}

h1 {
    text-align: center;
    color: #ffffff;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.Foto {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Foto img {
    width: 200px;
    height: 130px;
    display: block;
}

.creditos {
    text-align: center;
    padding: 10px;
    background-color: #eaeaea;
    font-weight: bold;
    color: #555;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 150px 150px 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
}

.voltar{
    font-size: 1.2rem;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    height: 30px;
    width: 120px;
    color: white;
    cursor: pointer;
}

.voltar:hover{
    background-color: rgb(207, 19, 19);
}